@charset "utf-8";

.galery-image {
  width: 100%;
  max-height: 300px;
  object-fit: cover;
  border-radius: 10px;
}

/* named card-no-bootstrap since there is card class in Botrap already */
.card-no-bs {
  position: relative;
  overflow: hidden;
}

.card-description {
  background: linear-gradient(rgba(121, 121, 121, 0), rgba(7, 7, 7, 0.782));
  color: white;
  position: absolute;
  min-height: 40%;
  border-radius: 0 10px 10px 0;
  bottom: 0px; /*makes it stick to the bottom, without it it falls lower */
  width: calc(
    100% - 24px
  ); /* bacause col class automaticaly has 12 pading on both sides it makes card-description class become bigger than immage and force it on the right instead of center. i would like to know other ways around this but best soliution i can think of is -24px to solve the problem.  */
  text-align: center;
  font-size: 18px;
}

.location {
  font-size: 35px;
  text-transform: uppercase;
  border-bottom: solid 1px white;
}

.location,
.description {
  width: 80%;
  border: solid rgb(119, 0, 128) 1px;
}

/* transform */
.card-description {
  visibility: hidden;
  text-align: center;
  opacity: 0;
  border-radius: 0 10px 10px 0;
  transform: translateY(50px);
  transition: visibility 0s, opacity 0.5s linear, transform 0.5s ease-in-out;
  border: solid green 1px;
}

.card-no-bs:hover .card-description {
  visibility: visible;
  opacity: 1;
  transform: translateY(0);
  transition: visibility 0s, opacity 0.5s linear, transform 0.5s ease-in-out;
}

.card-no-bs:hover {
  transition: transform 0.5s ease-in-out;
  transform: scale(1.05);
}
