@charset "utf-8";

:root {
  --primary-color: rgb(242, 211, 172);
  --secondary-color: rgb(166, 119, 78);
  --third-color: rgba(89, 64, 54, 0.5);
  --shade-color: rgb(191, 146, 120);
  --shadow-color: rgb(38, 30, 27);
}

body {
  background-color: var(--shade-color);
}

.first-section {
  background-color: var(--secondary-color);
}

/* google fonts */
@import url("https://fonts.googleapis.com/css2?family=Archivo+Black&family=Roboto&display=swap");

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

header {
  clear: both;
  background-image: url(/assets/Images/Background-4.jpg);
  background-size: cover;
  background-position: bottom;
  width: 100%;
}

main {
  margin: 30px 0;
  padding-top: 20px;
}

.header-colour {
  background-image: linear-gradient(rgba(0, 0, 0, 0), var(--shade-color));
  padding: 20px;
}

.navbar-brand {
  margin: 0 20px;
  text-transform: uppercase;
  font-weight: bold;
}

h1 {
  font-family: "Archivo", sans-serif;
  text-transform: uppercase;
}
p,
ul {
  font-size: 150%;
  letter-spacing: 1.5px;
  list-style-type: none;
}

.button-position {
  display: flex;
  justify-content: center;
}
.btn-request-quote {
  padding: 9px 14px;
  border-radius: 50px;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 1.5px;
  text-align: center;
}

/* Navigation bar styling */
.navbar {
  background-color: var(--third-color);
  border-radius: 10px;
  /* backdrop-filter: blur(10px); */
}

.navbar .navbar-brand,
.navbar .nav-link {
  color: white;
  font-size: 1.5rem;
  letter-spacing: 2px;
  text-shadow: 2px 2px 4px #000000;
  float: right;
  margin-right: 30px;
  font-family: "Archivo", sans-serif;
}

.navbar-nav .nav-link.active {
  padding-bottom: 0;
  color: white;
  border-bottom: 1px white solid;
}

/* Hero box styling*/
.hero-outer {
  background-color: var(--third-color);
  /* backdrop-filter: blur(10px); */
  border-radius: 10px;
  color: white;
  margin: 60px 0;
  padding: 30px 30px;
  text-shadow: 2px 2px 4px #000000;
  text-align: center;
}

.top-text {
  font-size: 150%;
  text-transform: uppercase;
}

/* Modal Styling */

.modal-content,
.form-control {
  background-color: var(--shadow-color);
}
/* .form-control:focus-within {
  background-color: red;
} */

/* Hamburger animation css (Start)*/
/* ------------------------------------------------------- */
.navbar-toggler {
  border: 0 !important;
}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
  outline: none !important;
  box-shadow: none !important;
  border: 0 !important;
}

/* Lines of the Toggler */
.toggler-icon {
  width: 30px;
  height: 3px;
  background-color: #ffffff;
  display: block;
  transition: all 0.2s;
}

/* Adds Space between the lines */
.middle-bar {
  margin: 5px auto;
}

.toggler-icon {
  margin: 5.5px;
}

/* State when navbar is opened (START) */
.navbar-toggler .top-bar {
  transform: rotate(45deg);
  transform-origin: 10% 10%;
}

.navbar-toggler .middle-bar {
  opacity: 0;
}

.navbar-toggler .bottom-bar {
  transform: rotate(-45deg);
  transform-origin: 10% 90%;
}
/* State when navbar is opened (END) */

/* State when navbar is collapsed (START) */
.navbar-toggler.collapsed .top-bar {
  transform: rotate(0);
}

.navbar-toggler.collapsed .middle-bar {
  opacity: 1;
}

.navbar-toggler.collapsed .bottom-bar {
  transform: rotate(0);
}
/* State when navbar is collapsed (END) */
/* ------------------------------------------------------- */
/* Hamburger animation css (Start)*/

/* Logo styling  (Start)*/
/* ------------------------------------------------------- */
.logo-path {
  width: 50%;
  stroke-dashoffset: 12;
  stroke-dasharray: 12;
  fill: none;
  stroke-width: 0.1;
  stroke: rgb(255, 255, 255);
  animation: logo-draw 3s linear forwards;
}

.logo-svg {
  width: calc(8.22px * 10);
  height: calc(6.22px * 10);
}

/* Logo drawing keyframes */
@keyframes logo-draw {
  0% {
    fill: none;
  }

  80% {
    /* stroke-dashoffset: 0; */
    fill: rgba(175, 175, 175, 0);
  }

  100% {
    fill: rgb(188, 188, 188);
    stroke-dashoffset: 0;
  }
}

.brick4 {
  animation-delay: 0.3s;
}

.brick3 {
  animation-delay: 0.6s;
}

.brick2 {
  animation-delay: 0.9s;
}

/* Carousel adjustments */
.carousel-shadow {
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}

/* ------------------------------------------------------- */
/* Logo styling  (End)*/

/* Footer CSS */
footer {
  background-color: var(--secondary-color);
}

.footer-rights {
  font-size: 10px;
}

/* ------------------------------------------------------- */
/* need to check why social links get line under the icons */
.social-networks li a i {
  border-radius: 30%;
  background-color: var(--primary-color);
  width: 55px;
  height: 55px;
  font-size: 35px;
  margin-top: 15px;
  color: var(--secondary-color);
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 460px) {
  .navbar {
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
    margin: 0;
    border-radius: 0;
  }
  a .navbar-brand {
    padding-right: 0;
  }
  .logo-svg {
    display: none;
  }
  .navbar-brand {
    margin: 0;
  }
}
