@charset "utf-8";

* {
  margin: 0;
  padding: 0;
  border: 0;
}

header {
  clear: both;
  background-image: url(/assets/Images/background-1.jpg);
  background-size: cover;
  background-position: center;
  height: 500px;
  width: 100%;
}

/* Navigation bar styling */
.navbar {
  background-color: rgba(0, 0, 0, 0.3);
  width: calc(100% - 40px);
  margin: 20px;
  border-radius: 10px;
  position: absolute;
}

.navbar .navbar-brand,
.navbar .nav-link {
  color: white;
  font-size: 1.5rem;
  letter-spacing: 2px;
  float: right;
  margin-right: 30px;
}

.navbar-nav .nav-link.active {
  padding-bottom: 0;
  color: white;
  border-bottom: 1px white solid;
}

/* Hamburger animation css */
.navbar-toggler {
  border: 0 !important;
}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
  outline: none !important;
  box-shadow: none !important;
  border: 0 !important;
}

/* Lines of the Toggler */
.toggler-icon {
  width: 30px;
  height: 3px;
  background-color: #ffffff;
  display: block;
  transition: all 0.2s;
}

/* Adds Space between the lines */
.middle-bar {
  margin: 5px auto;
}

.toggler-icon {
  margin: 5.5px;
}

/* State when navbar is opened (START) */
.navbar-toggler .top-bar {
  transform: rotate(45deg);
  transform-origin: 10% 10%;
}

.navbar-toggler .middle-bar {
  opacity: 0;
}

.navbar-toggler .bottom-bar {
  transform: rotate(-45deg);
  transform-origin: 10% 90%;
}
/* State when navbar is opened (END) */

/* State when navbar is collapsed (START) */
.navbar-toggler.collapsed .top-bar {
  transform: rotate(0);
}

.navbar-toggler.collapsed .middle-bar {
  opacity: 1;
}

.navbar-toggler.collapsed .bottom-bar {
  transform: rotate(0);
}
/* State when navbar is collapsed (END) */

/* Logo styling */
.logo-path {
  width: 50%;
  stroke-dashoffset: 12;
  stroke-dasharray: 12;
  fill: none;
  stroke-width: 0.1;
  stroke: rgb(255, 255, 255);
  animation: logo-draw 3s linear forwards;
}

/* use this to determine logo boarder */
.logo-svg {
  width: calc(8.22px * 10);
  height: calc(6.22px * 10);
}

/* Footer CSS */
footer {
  background-color: rgb(195, 195, 195);
}
.social-networks {
  text-align: center;
}

.social-networks li {
  display: inline;
}

.social-networks i {
  font-size: 250%;
  margin: 1%;
  color: #fdfafa;
}

/* Logo drawing keyframes */
@keyframes logo-draw {
  0% {
    fill: none;
  }

  80% {
    /* stroke-dashoffset: 0; */
    fill: rgba(175, 175, 175, 0);
  }

  100% {
    fill: rgb(188, 188, 188);
    stroke-dashoffset: 0;
  }
}
.brick4 {
  animation-delay: 0.3s;
}

.brick3 {
  animation-delay: 0.6s;
}

.brick2 {
  animation-delay: 0.9s;
}

@media screen and (max-width: 460px) {
  .navbar {
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
    margin: 0;
    border-radius: 0;
  }
  a .navbar-brand {
    padding-right: 0;
  }
}
